.navbar-inverse {
  background-color: #ffcd00;
}
.navbar-inverse .navbar-brand {
  color: #3b3b3b;
}
.navbar-inverse .navbar-nav>li>a {
  color: #3b3b3b;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #ffcd00;
}
.list-group-item.active {
  background-color: #222;
  border-color: #222;
}
item.active, .list-group-item.active:hover {
  background-color: #222;
  border-color: #222;
}